[submodule "iOS/Profiles/lib/IOSLinkedInAPI"]
	path = iOS/Profiles/lib/IOSLinkedInAPI
	url = https://github.com/jeyben/IOSLinkedInAPI.git
[submodule "iOS/Profiles/lib/AFNetworking"]
	path = iOS/Profiles/lib/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
